@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to My WebApp</h1>
    <h1 class="display-4">My Name is Kaustavand I'm llearning and will build more full fledged app with CI/CD built in'</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">This is my Simple Web Application</a>.</p>
</div>
